<div
  class="w-64 h-screen bg-slate-950 text-white fixed left-0 top-0 p-6">

  <h1
    class="text-3xl font-bold mb-10 text-blue-400">
    WeatherX
  </h1>

  <ul class="space-y-6">

    <li routerLink=""
      class="hover:text-blue-400 cursor-pointer transition">

      🏠 Dashboard

    </li>

    <li  routerLink="/analytics"
      class="hover:text-blue-400 cursor-pointer transition" >

      📊 Analytics

    </li>

    <li routerLink="/favourite"
      class="hover:text-blue-400 cursor-pointer transition">

      ⭐ Favorites

    </li>

    <li
      class="hover:text-blue-400 cursor-pointer transition">

      🕒 History

    </li>

    <li
      class="hover:text-blue-400 cursor-pointer transition">

      ⚙ Settings

    </li>

  </ul>

</div>